.quote {
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
}

.card {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 50px;
}
.quote p {
  font-size: 24px;
  color: #333533;
}
.corner {
  font-size: 70px;
  margin: 0 5px;
  color: #333533;
}
